
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  
  height: 1000px;
  width:250px;
  background-color: #252526;
  float:left;
  margin:5px;
}

.sidenav a {
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  width : 250px;
  height: 46px;
  margin:5px;
}
@font-face {
  font-family: "My Font";
  src: url("./FONT/NIXGONFONTS\ M\ 2.0.TTF");
}

a{font-family: "My Font", serif;}
p{font-family: "My Font", serif;}
p{font-size: 30px;}
a{font-size: 30px;}
h2{font-size: 40px;}
h2{font-family: "My Font", serif;}
#main {
  width:900px;
  height:800px;
  float:left;
  margin:5px;
}
#side_content_box{
display: inline;
background-color:#1e1e1e;
margin:5px;
}
#body {
  background-color:#1e1e1e;
  margin:0;
}
 /* -------------------------------developer----------------------------------*/
  #headboxdeveloper{
    width:700px;
    height:50px;
    background-color:  gray;
    border : 5px solid gray;
    margin : 5px;
    color : #fff; 
    text-align : center; 
    font-weight : bold;  
  }

  #boxdeveloper{
    width:700px;
    height:700px;
    border : 5px solid gray;
    background-color:#f1f1f1;
    margin : 5px;
    padding : 35px;
  }
  
  #textboxdeveloper{
    display : flex;
    justify-content: center;
    align-items: center;
  }

  #button1 {
    width:200px;

    height:100px;

    background-color:  gray;

    border: none;

    color:#fff;

    text-align: center;

    font-size: 20px;

    cursor: pointer;
    
    border-radius: 5px;
  }


/* -----------------------------------submenu---------------------------------- */
  
  #textarea{
    width : 300px;
    height : 300px;
  }

  #speed{
    display : flex;
    justify-content: center;
    align-items: center;
  }

  #button{
    width : 20px;
  }

  div#myboxsub {

    width:500px;
    height:250px;

    border : 5px solid gray;
    background-color:#f1f1f1;
    margin : 10px 10px 10px 300px;
    display : flex;
    justify-content: center;
    align-items: center;
  }

  div#boxnamesub {

    width:500px;
    height:100px;
    background-color:  gray;
    border : 5px solid gray;
    margin : 10px 10px 10px 300px;
    color : #fff; 
    text-align : center; 
    font-weight : bold;
    
  }

  #button_sub{ 
    width:300px;
    height:300px;
    background-color:  gray;
    border: none;
    color:#fff;
    text-align: center;
    font-size: 100px;
    cursor: pointer;    
    border-radius: 5px;
    font-weight : bold;
   
  }

  #test{
    display : flex;

    align-items: center;
  }
/* -----------------------------버튼 효과 ------------------------------ */
  #button_1:hover{
    box-shadow:300px 0 0 0 rgba(0,0,0,0.5) inset;
  }

  #button_2:hover{
    box-shadow:200px 0 0 0 rgba(0,0,0,0.5) inset;
  }

  #button1:hover{
    box-shadow:200px 0 0 0 rgba(0,0,0,0.5) inset;
  }

  #button2:hover{
    box-shadow:200px 0 0 0 rgba(0,0,0,0.5) inset; 
  }

  #button3:hover{
    box-shadow:200px 0 0 0 rgba(0,0,0,0.5) inset;
  }

/*-------------------------------------------------robot1-----------------------------------------------------------------*/
#speedrobot{
  display : flex;
  justify-content: center;
  align-items: center;
}
#boxr{
  width:500px;
  height:400px;
  border : 5px solid gray;
  background-color:#f1f1f1;
  margin : 5px;
  padding : 35px;
}

#boxname2r{
  width:500px;
  height:50px;
  background-color:  gray;
  border : 5px solid gray;
  margin : 5px;
  color : #fff; 
  text-align : center; 
  font-weight : bold; 
}

#button2r {
  width:120px;

  height:45px;

  background-color:  gray;

  border: none;

  color:#fff;

  text-align: center;

  font-size: 20px;

  cursor: pointer;
  
  border-radius: 5px;
}
